.profile {
  padding-bottom: 100px;

  header {
    min-height: 500px;
  }

  .header-details,
  .profile-content {
    padding: 10px 28px 0 28px;
  }

  .loading {
    max-width: 550px;
  }

  .profile-content {
    .user-activities-list {
      max-width: 550px;
    }
  }

  .header-details {
    position: relative;

    .attribution {
      font-size: 11px;
      position: absolute;
      width: 120px;
      right: 33px;
    }

    h2 {
      font-size: 22px;
    }
  }

  .joined {
    margin-top: 13px;
    display: flex;
    align-items: center;

    svg {
      margin-left: -3px;
    }

    span {
      margin-left: 3px;
    }
  }

  .profile-details-statistics {
    margin-top: 13px;
  }

  .library-link {
    display: inline-block;
    padding-bottom: 1px;
    margin-top: 30px;

    border-bottom: 0.1em solid transparent;

    &:hover {
      border-bottom: 0.1em solid #000;
    }
  }

  .MuiDivider-root {
    margin: 19px 0;
  }

  .edit-profile-activator {
    position: absolute;
    right: 28px;
    top: -53px;
  }

  @media (max-width: 600px) {
    .edit-profile-activator {
      top: -33px;
    }
  }
}
