.profile-avatar-background {
  .background-image {
    padding-bottom: 27%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .background-image,
  .avatar {
    position: relative;
    background-size: cover;
    background-position: center;
  }

  .image-input {
    display: none;
  }

  .control-icons {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 38%;
    transform: translate(-50%, 0);
    display: flex;

    label {
      height: 40px;
      padding: 8px;
      border-radius: 20px;
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, 0.116);
      }
    }

    .delete-bg {
      margin-left: 15px;
    }
  }

  .avatar {
    width: 145px;
    height: 145px;
    border: 4px solid #fff;
    border-radius: 100px;
    margin-top: -73px;
    margin-left: 24px;

    .control-icons {
      width: auto;
      top: 31%;
    }
  }

  @media (max-width: 600px) {
    .avatar {
      width: 100px;
      height: 100px;
      margin-top: -45px;
    }

    .background-image {
      padding-bottom: 32%;
      .control-icons {
        width: 85px;
      }
    }
  }
}
