.library-category {
  height: calc(100vh - 97px);
  overflow-y: auto;
  padding: 0 30px 60px 30px;
  width: 100%;

  .header {
    margin: 25px 0;
  }

  .library-category-content {
    max-width: 930px;
  }

  .items {
    display: grid;
    column-gap: 20px;
    row-gap: 65px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .dropdown-card {
    position: absolute;
    left: -125px;
    width: 150px;
  }

  .dropdown-card-content {
    padding: 10px 0;

    &:last-child {
      padding: 0;
    }
  }

  ul {
    width: 100%;
  }

  @media (max-width: 950px) {
    .items {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 840px) {
    height: 100%;

    .items {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 600px) {
    .items {
      grid-template-columns: 1fr 1fr;
    }
  }
}
