.library-categories {
  .header {
    padding-left: 16px;
  }

  .list {
    height: calc(100vh - 184px);
    overflow-y: auto;
  }

  .categories-autocomplete {
    display: none;
  }

  @media (max-width: 840px) {
    .categories-autocomplete {
      display: block;
      max-width: 400px;
      padding-right: 30px;
    }

    .categories-list {
      display: none;
    }

    .list {
      height: 100%;
    }
  }
}
