.user-activities-list-item {
  padding: 16px;
  margin-top: 20px;
  .comic-teaser {
    .img-container {
      width: 120px;
    }
  }

  p {
    word-wrap: break-word;
  }

  .review-teaser {
    margin-top: 16px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  @media (max-width: 600px) {
    .comic-teaser {
      .description {
        display: none;
      }
    }

    .review-teaser {
      padding: 0;
      border: none;
    }
  }
}
