.user-responses-list-item {
  display: flex;
  margin: 15px 0;
  .avatar {
    width: 60px;
    height: 60px;
  }

  .content {
    padding: 3px 10px;
    width: calc(100% - 60px);

    .header {
      display: flex;
      justify-content: space-between;

      a {
        font-weight: bold;
      }

      span {
        color: #919191;
        font-size: 14px;
      }
    }

    p {
      margin: 5px 0;
      word-wrap: break-word;
    }

    .more {
      color: #00635d;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 600px) {
    .avatar {
      width: 50px;
      height: 50px;
    }
  }
}
