.signout {
  height: 207px;
  max-width: 600px;
  padding: 10px 0 20px 0;
  text-align: center;

  p:first-child {
    margin-bottom: 35px;
  }

  .text-divider {
    color: #919191;
    margin: 12px 0;
  }

  .text-divider:before,
  .text-divider:after {
    background-color: #c9c9c9;
    content: '';
    display: inline-block;
    height: 0.01em;
    position: relative;
    vertical-align: middle;
    width: 20%;
  }

  .text-divider:before {
    right: 10px;
  }

  .text-divider:after {
    left: 10px;
  }
}
