.search {
  padding-top: 50px;

  input {
    width: 100%;
    outline: 0;
    border-width: 0 0 1.5px;
    border-color: #151515;
    font: bold 26px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    padding: 0 0 7px 30px;
  }

  .search-input-container {
    border: 2px solid transparent;
    margin: 0 30px 50px 30px;
    position: relative;
    svg {
      position: absolute;
      margin-top: 5px;
    }

    &:focus-within {
      border: 2px solid #e8b63e;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  input::placeholder {
    color: #f2f2f2;
  }

  .no-matches-info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
  }
}
