.error-page {
  .error-info {
    margin: 30px auto 0 auto;
    height: 207px;
    max-width: 600px;
    padding: 10px 0 20px 0;
    text-align: center;

    p:first-child {
      margin-bottom: 35px;
    }
  }
}
